body{
    margin: 0;

}
.page-container {
    display: flex;
    /* justify-content: space-between;
    box-sizing: border-box */
}
/*------------------------------------*/
.left-image {
    max-width: 630px;
    height: 100vh;
     
    /* width: max(500px); */
}

.image {
    height: clamp(716px, 100vh, 916px);
    margin: -20vw, -200px, 0, 0;
    overflow: hidden;
}
/* -----------------------------------*/
.right-pane {
    padding: 20px 0 0px 0;
    justify-content: flex-start;
    background-color: rgb(248, 236, 255);
    /* margin-left: 2vw; */
    /* position: absolute; */
    /* height: clamp(600px, 60% ); */
    /* width: max(50vw); */

}

.pane-row {
    margin: 20px;

    margin-left: 30px;
        /* width: min(40vw); */
}

h1,
h2 {
    margin-bottom: 2vh;
    /* width: min(40vw); */
}
.form-block {
    box-shadow: 0 5px 5px 0 rgb(56, 55, 55);
}